.ipynb_checkpoints/LICENSE-checkpoint
.ipynb_checkpoints/notes-checkpoint.txt
.ipynb_checkpoints/README-checkpoint.md
notebooks/.ipynb_checkpoints/Query_export_S2_data-checkpoint.ipynb
notebooks/Lesotho/.ipynb_checkpoints/Evaluate_fit_classifier_GEE_replicate-checkpoint.ipynb
