.ipynb_checkpoints/LICENSE-checkpoint
.ipynb_checkpoints/notes-checkpoint.txt
.ipynb_checkpoints/README-checkpoint.md
notebooks/.ipynb_checkpoints/Query_export_S2_data-checkpoint.ipynb
notebooks/Lesotho/.ipynb_checkpoints/Evaluate_fit_classifier_GEE_replicate-checkpoint.ipynb
notebooks/Lesotho/.ipynb_checkpoints/Extract_training_data_GEE_replicate-checkpoint.ipynb
notebooks/Lesotho/.ipynb_checkpoints/Filter_training_data_GEE_replicate-checkpoint.ipynb
notebooks/Lesotho/.ipynb_checkpoints/Land_cover_classification_GEE_replicate-checkpoint.ipynb
notebooks/Lesotho/.ipynb_checkpoints/Post_process_all_others-checkpoint.ipynb
notebooks/Lesotho/.ipynb_checkpoints/Post_process_reclassify_gully-checkpoint.ipynb
notebooks/Lesotho/.ipynb_checkpoints/Post_process_reclassify_irrigated_croplands-checkpoint.ipynb
notebooks/Lesotho/.ipynb_checkpoints/Readme-checkpoint.md
notebooks/workshop/.ipynb_checkpoints/0_Extract_Training_Data-checkpoint.ipynb
notebooks/workshop/.ipynb_checkpoints/1_Clean_Extract_Training_Data-checkpoint.ipynb
notebooks/workshop/.ipynb_checkpoints/4_Post_Process_Irrigated_Croplands-checkpoint.ipynb
notebooks/Mozambique/.ipynb_checkpoints/Readme-checkpoint.md
notebooks/Rwanda/.ipynb_checkpoints/Readme-checkpoint.md
notebooks/Mozambique/.ipynb_checkpoints/1_Clean_Training_Data_v7_Mozambique-checkpoint.ipynb
notebooks/Mozambique/.ipynb_checkpoints/2_Extract_Training_Data_v2_Mozambique-checkpoint.ipynb
notebooks/Mozambique/.ipynb_checkpoints/3_Evaluate_Fit_classifier_Mozambique-checkpoint.ipynb
notebooks/Mozambique/.ipynb_checkpoints/4_Land_Cover_Classification_v2_Mozambique-checkpoint.ipynb
notebooks/Rwanda/.ipynb_checkpoints/1_Clean_Training_Data_v7_Rwanda-checkpoint.ipynb
notebooks/Rwanda/.ipynb_checkpoints/2_Extract_Training_Data_v2_Rwanda_add_MADs-checkpoint.ipynb
notebooks/Rwanda/.ipynb_checkpoints/2_Extract_Training_Data_v2_Rwanda-checkpoint.ipynb
notebooks/Rwanda/.ipynb_checkpoints/3_Evaluate_Fit_classifier_Rwanda-checkpoint.ipynb
notebooks/Rwanda/.ipynb_checkpoints/3_Grid_search_class_balancing-checkpoint.ipynb
notebooks/Rwanda/.ipynb_checkpoints/4_Land_Cover_Classification_v2_Rwanda-checkpoint.ipynb
notebooks/Rwanda/.ipynb_checkpoints/5.1_Post_Process_Irrigated_Croplands_Rwanda_v2-checkpoint.ipynb
notebooks/Rwanda/.ipynb_checkpoints/5.3_Post_Process_All_Others_Rwanda-checkpoint.ipynb
notebooks/Rwanda/.ipynb_checkpoints/Generate_stratified_sampling_AOIs-checkpoint.ipynb
notebooks/Mozambique/.ipynb_checkpoints/0_Extract_stratified_training_points-checkpoint.ipynb
notebooks/Mozambique/.ipynb_checkpoints/1_Clean_training_data-checkpoint.ipynb
notebooks/Mozambique/.ipynb_checkpoints/2_Evaluate_fit_classifier-checkpoint.ipynb
notebooks/Mozambique/.ipynb_checkpoints/3_Land_cover_classification-checkpoint.ipynb
notebooks/Mozambique/.ipynb_checkpoints/4_Post_processing-checkpoint.ipynb
